html {
	background: #12123b;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
p {
	text-align: center;
	font-weight: bold;
}

.container {
	width: 40%;
	margin: auto;
	background-color: #fff;
	padding-bottom: 1px;

}
/* form-content */

.form-content {
	margin: 20px;

}

.form-content input {
	width: 95%;
}
/* form-content end */

label {
	font-weight: bold;
}

input[type=text],[type=email],[type=password],[type=Number],[type=Gender]{
	font-size: 16px;
	border-radius: 5px;
	background: #D9F1F7;
	border: #000000;
	padding: 10px;
	border: 1px solid #ccc;
}

select{
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	background: #D9F1F7;
	border: #000000;
	padding: 10px;
	border: 1px solid #ccc;
}

input[type=submit]{
	width: 100%;
    margin-top: 10px;
	background: #4C63ED;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;

}
input[type=submit]:hover{
	background: #4C63ED;
	font-weight: bold;
}

 .button {
	width: 50%;
    margin-top: 10px;
	background: #4C63ED;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.error-message {
    margin: 0;
    position: absolute;
    right: 5px;
    bottom: -13px;
    color: #a94442;
    font-size: 11px;
}


